{% extends 'apps/base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block main %}
<!-- Page Content -->
<div class='detail-page'>
    <div class="container">
        <!-- Jumbotron Header -->
        <div class='my-header'>
            <img class="card-img-top" src="{{app.thumbnail.url}}" alt="{{app.title}}">
            <div style="width: 100%" class='text'>
                <div class='title'>
                    <h2>{{app.title}}</h2>
                    <a href="#">
                        <img src="../../static/apps/iamges/downlaod-icon.png" alt="download"/>
                    </a>
                </div>

                <p class="card-text rate">Rate : 5/4</p>
                <p class="card-text">{{app.description|linebreaks}}</p>
            </div>


        </div>


        <!-- Page Features -->
        <div class="card h-100">

            <div class="card-body">

            </div>
        </div>

        <form method="POST"
              {% csrf_token %}
              {{comment_form.as_p}}
        <input type="submit" value="submit">
        </form>
        <!-- /.row -->


    </div>
</div>
<!-- /.container -->
{% endblock %}