{% extends 'apps/base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block main %}
<!-- Page Content -->
<div class="container">

  <!-- Jumbotron Header -->
  <header class="jumbotron my-4">
    <h1 class="display-3">appstor_framework</h1>
  </header>

  <!-- Page Features -->
      <div class="card h-100">
        <img class="card-img-top" src="{{app.thumbnail.url}}" alt="{{app.title}}">
        <div class="card-body">
          <h4 class="card-title"><a href = "{% url 'apps:app_detail' app.slug %}">{{app.title}}</a></h4>
          <p class="card-text">{{app.description|linebreaks}}</p>
        </div>
      </div>

      <form method="POST"> 
        {% csrf_token %} 
        {{comment_form.as_p}}
        <input type="submit" value="submit"> 
      </form> 
  <!-- /.row -->

  
</div>
<!-- /.container -->
{% endblock %}